#!/usr/bin/env python
#coding: utf8
# by wgwang svd.wang@gmail.com
#


pg = {
    'host': '127.0.0.1',
    'port': 6403,
    'db': 'hxdb',
    'user': 'wgwang',
}

mdb = {
    'host': '127.0.0.1',
    'port': 18811,
}


interval = 60



